<!-- WORKDOC SUMMARY BOX -->
<div
  tabindex="0"
  (keyup.escape)="onKeyUp($event)"
  [@flyInOut]="selected ? 'in' : '*'"
  class="summarybox"
  *ngIf="selected && firestore.selectedWorkDoc != undefined"
>
  <div class="backdrop"></div>
  <div class="closebtn">
    <span
      style="margin: 5px"
      class="material-symbols-outlined"
      (click)="select()"
    >
      arrow_back
    </span>
  </div>

  <div class="summarycontent">
    <!-- HEADER -->
    <div class="summaryheader">
      <div
        class="headgroup"
        *ngIf="!userAuth.isAdmin || (userAuth.isAdmin && !editMode)"
      >
        <h3>{{ firestore.selectedWorkDoc.title }}</h3>
        <p>{{ firestore.selectedWorkDoc.subtitle }}</p>
      </div>
      <div class="headgroup" *ngIf="userAuth.isAdmin && editMode">
        <input
          [formControl]="titleInput"
          class="invisibleTextInput h3"
          type="text"
          [value]="firestore.selectedWorkDoc.title"
        />
        <textarea
          [formControl]="subtitleInput"
          class="invisibleTextInput d-flex p"
          type="text"
          [value]="firestore.selectedWorkDoc.subtitle"
        ></textarea>

        <!-- <h3>{{ firestore.selectedWorkDoc.title }}</h3> -->
        <!-- <p>{{ firestore.selectedWorkDoc.subtitle }}</p> -->
      </div>

      <app-edit-button
        (click)="toggleWorkdocEdit()"
        *ngIf="userAuth.isAdmin && global.isEditing && !editMode"
      ></app-edit-button>
      <button
        class="btn btn-primary"
        style="margin: 30px"
        (click)="toggleWorkdocEdit()"
        *ngIf="userAuth.isAdmin && global.isEditing && editMode"
      >
        Save
      </button>

      <!-- COLLABS -->
      <div class="collabContainer">
        <h4>Collaborators</h4>
        <div class="break"></div>
        <div class="collabs">
          <div
            *ngFor="let c of firestore.selectedWorkDoc.collaborators"
            class="collab"
            [matTooltip]="c.name"
            (click)="openSocialLink(c.socialLink)"
            [style]="
              'background-image:url(' +
              c.image +
              '); background-position:center;background-size:cover;'
            "
          ></div>
        </div>
      </div>
    </div>

    <hr id="divider" />

    <p><i>At a glance</i></p>
    <div class="summarybody">
      <!-- FEATURED CONTENT -->
      <div class="featureContainer">
        <!-- <app-content class="featureImage" [contentBlock]="{ id:'', type:contentTypes.IMAGE, value:firestore.selectedWorkDoc.featureImage }" [contentType]="contentTypes.IMAGE" [contentValue]="firestore.selectedWorkDoc.featureImage"></app-content>
        <app-content class="mycontentblock" [contentBlock]="{ id:'', type:contentTypes.TEXT, value:firestore.selectedWorkDoc.featureBody }" [contentType]="contentTypes.TEXT" [contentValue]="firestore.selectedWorkDoc.featureBody"></app-content> -->
        <div class="featureFlex">
          <div class="fImgFlexEdit" *ngIf="userAuth.isAdmin && editMode">
            <input
              [formControl]="featureImageInput"
              class="invisibleTextInput"
              type="text"
              [value]="firestore.selectedWorkDoc.featureImage"
            />
            <img
              class="featureImageEdit"
              [src]="firestore.selectedWorkDoc.featureImage"
            />
          </div>

          <textarea
            *ngIf="userAuth.isAdmin && editMode"
            [formControl]="featureBodyInput"
            class="invisibleTextInput d-flex p"
            type="text"
            [value]="firestore.selectedWorkDoc.featureBody"
          ></textarea>
          <img
            *ngIf="!editMode"
            class="featureImage"
            [src]="firestore.selectedWorkDoc.featureImage"
          />
          <p
            *ngIf="!editMode"
            class="summarycollumn"
            [innerHTML]="formatFeatureBodyForDisplay()"
          >
            {{ formatFeatureBodyForDisplay() }}
          </p>
        </div>
      </div>

      <hr id="divider" />
      <div class="sortRowBtn">
        <div class="sortRowBtnContainer" (click)="openModalForSortingRows()">
          <span><i>sort rows</i></span>
          <span
            class="material-symbols-outlined sortbtnIcon"
            style="margin-left: 10px"
          >
            sort
          </span>
        </div>
      </div>

      <!-- REST OF WORK DOCUMENT -->

      <div class="workgrid">
        <!-- loop through rows -->
        @for (__row of rows; track __row; let i = $index) {
          <div class="_rowContainer">
            <div class="myrow">
              <!-- loop through content in row -->
              @for (_content of contentPerRow![i]; track _content) {
                <div class="mycontentblock" *ngIf="!_content.deleted">
                  <app-content
                    [contentBlock]="_content"
                    [contentValue]="_content.value"
                    [contentType]="_content.type"
                    [id]="_content.id"
                  ></app-content>
                </div>
              }

              @if (
                contentPerRow && contentPerRow.length > 0 &&
                contentPerRow![i] &&
                contentPerRow![i].length > 0 &&
                contentPerRow![i].length < 3 &&
                rowContainsSpacer(contentPerRow![i]) &&
                userAuth.isAdmin &&
                global.isEditing
              ) {
                <div class="rightside admin_createbtn_container">
                  @if (contentPerRow![i].length > 0) {
                    <span
                      class="material-symbols-outlined sortbtn"
                      style="width: 100%"
                      (click)="openSortModal(contentPerRow![i])"
                    >
                      sort
                    </span>
                  }

                  <app-create-button
                    (click)="beginCreateContent(__row.id)"
                  ></app-create-button>
                </div>
              } @else if (
                userAuth.isAdmin &&
                global.isEditing &&
                rowContainsSpacer(contentPerRow![i]) &&
                contentPerRow![i].length > 0
              ) {
                <span
                  class="material-symbols-outlined sortbtn sortbtnAbs"
                  (click)="openSortModal(contentPerRowAsFirestore![i])"
                >
                  sort
                </span>
              }

              @if (
                userAuth.isAdmin &&
                global.isEditing &&
                (!contentPerRow![i] || contentPerRow![i].length == 0)
              ) {
                <div
                  (click)="beginCreateContent(__row.id)"
                  class="no-content-spacer"
                >
                  <span class="material-symbols-outlined"> add </span>
                </div>
              }
              @if (
                userAuth.isAdmin &&
                global.isEditing &&
                i == contentPerRow!.length - 1
              ) {
                <app-create-button
                  (click)="addEmptyRow()"
                  class="admin_createbtn_containerRow"
                ></app-create-button>
              }
            </div>
          </div>
        }

        @if (
          userAuth.isAdmin &&
          global.isEditing &&
          (!contentPerRow || contentPerRow.length == 0)
        ) {
          <app-create-button
            (click)="addEmptyRow()"
            class="admin_createbtn_containerRow"
          ></app-create-button>
        }
      </div>
    </div>
  </div>
</div>
