$border: 5px;
$borderRadius: 10px;
$workboxWidth: 10em;

$primaryColor: rgb(253, 8, 74);

.closebtn span {
  position: fixed;
  left: 0;
  top: 5px;
  font-size: 36px;
  font-weight: 300;
}

.closebtn :hover {
  cursor: pointer;
}

.summarybox {
  position: fixed;
  //   background-color: rgba(255, 255, 255, 0.8);
  border: rgba(255, 255, 255, 0.5) solid 1px;
  // border-radius: 15px;
  // width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 50vh;
  z-index: 1 !important;
  padding: 50px;
  padding-left: 15%;
  padding-right: 15%;
  border: black solid 2px;
  border-top-left-radius: 0;
  backdrop-filter: blur(50px);
  overflow: auto;
  opacity: 0;
  transition: {
    backdrop-filter: blur(0px) ease 1s;
  }
  // background-color: rgba(255, 255, 255, 0.46);
  background: #e8e8e8;
  // border-color: linear-gradient(
  //   142deg,
  //   rgba(160, 254, 251, 1) 0%,
  //   #494fc1 36%,
  //   rgba(253, 8, 74,1) 100%
  // );
  // border-width: 30px;

  // padding-left: 150px;
  // padding-right: 150px;
}
.summarybox .summarycontent {
}

.summarybox #divider {
  color: $primaryColor;
  background-color: $primaryColor;
  border-color: $primaryColor;
}
.summarybox .break {
  flex-basis: 100%;
  height: 0;
}
.summarybox .summaryheader {
  display: flex;
  justify-content: space-between;
 
}
.tabline {
  margin-left: 4em;
  display: inline-block;
}

.summarybox .collabContainer {
  display: block;
  align-items: center;
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  margin-left: 50px;
  margin-right: 0;
  margin-left: auto;
  text-align: center;
  max-width: 40%;
}

.summarybox .collabOverlay {
  position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px; /* Height of the fade effect */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.summarybox .collabs {
  // display: flex;
  // clear: both;
  // cursor: pointer;
  overflow: auto;
  max-height: 12em;
}

.summarybox .collab {
  width: 5em !important;
  height: 5em !important; 
  border: solid 1px transparent;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  float:left;
}

.summarybody {
  //   display: flex;
  // overflow: visible;
  //   max-height: 450px;
  // float: left;
}

.summarybody .featureImage {
  clear: both;
  width: 100% !important;
  height: auto !important;
  // //   opacity: 0;
  // margin: 5px;
  display: inline-block;
  padding: 5px;
  object-fit: cover;
}
.featureImage {
  // width: 30%;
}
// @media (max-width: 900px) {
//   .featureImage{
//     width:100%;
//   }
// }
.summarybody p {
  margin: 15px;
  // width:30%;
  // float:left;
}
.backdrop {
  // background: #a0fefbc0;
  // background: linear-gradient(
  //   142deg,
  //   rgba(160, 254, 251, 0.7) 0%,
  //   #494fc195 36%,
  //   rgba(253, 8, 74, 0.7) 100%
  // );
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  filter: blur(3px);
  z-index: -1;
}

.workgrid {
  // width: 50%;
  // max-width: 500px;
  // display: flex;
  word-wrap: break-word;
}
._rowContainer {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}
.myrow {
  // margin-bottom: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  // flex-grow: 1;
  // width: 100%;
  // // border:1px solid rgba(0, 0, 0, 0.388);
  // overflow:visible;
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  flex-basis: 300px;
  // max-height: 30%;
  // max-height:300px;

  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.myrow p {
  width: 50%;
  // float:left;
}
.myrow img {
  width: 30%;
  height: auto;
  flex: 0 0 auto;
  // object-fit: contain;
}

.mycontentblock {
  // border:3px solid black;
  // width:33%;
  // display:flex;
  // flex-flow: row nowrap;
  // flex-grow: 1 1 33%;
  // object-fit: contain;
  // aspect-ratio: 4/3;
  display: flex;
  // flex-grow: 1;
  // flex-shrink: 1;
  // flex-basis: 25%;
  flex: 1 1 31%;
  // min-width: 25%;
  align-self: stretch;
  // order: 0;
  justify-content: stretch;
  align-items: stretch;
  padding: auto;
  padding:10px;
  // max-height: 30%;
  // border:1px solid rgba(0, 0, 0, 0.388);
}
.featureContainer {
  width: 100%;
  // height:300px;
  display: block;
  clear: both;
}
.featureImage {
  max-width: 40%;
  object-fit: cover;
}
.featureFlex {
  display: flex !important;
  width: 100%;
  flex: 0 1 40%;
  justify-content: stretch;
  align-items: stretch;
}
.summarycollumn {
  display: block;
}

.admin_createbtn_container {
  width: 10px;
  // display: inline-flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 5%;
  align-self: auto;
  padding: auto;
  margin-left: 20px;
  justify-content: space-between;
  align-items: stretch;
  // position:absolute;
  // right:50px;
  // top:50px;
  // bottom:50px;
}
.admin_createbtn_containerRow {
  display: block;
  flex-grow: 1;
  // flex-shrink: 1;
  flex-basis: 100%;
  // align-self: auto;
  // padding: auto;
  // margin-left: 20px;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 10px;
}

.admin_fake_content_block {
  background-color: rgb(133, 132, 143);
  border: 1px solid transparent;
  border-radius: 10px;
  width: 30%;
  height: 300px;
}

.headgroup {
  width: 70%;
}

.invisibleTextInput {
  background: none;
  background-color: transparent;
  border: none;
  width: 100%;
  // min-height:200px;
}
.fImgFlexEdit {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 300px;
  justify-content: space-between;
  align-items: stretch;
}

.fImgFlexEdit .featureImageEdit {
  clear: both;
  height: 100% !important;
  width: 100% !important;
  // //   opacity: 0;
  // margin: 5px;
  display: inline-block;
  padding: 5px;
  object-fit: cover;
}
.no-content-spacer {
  width: 100%;
  height: 300px;
  background-color: rgba(199, 189, 224, 0.864);
  border: solid 1px transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  font-size: 200px;
  transition: background-color 0.5s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  margin-top: 30px;
  margin-bottom: 30px;
}
.no-content-spacer span {
  font-size: 100px;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  vertical-align: center;
  font-weight: light;
  color: rgba(39, 47, 55, 0.556);
}
.no-content-spacer:hover {
  border: solid 2px rgb(45, 51, 60);
  background-color: rgba(119, 105, 154, 0.649);
  transition: background-color 0.5s ease-in-out;
  transition: border-color 0.5s ease-in-out;
}
.listOfContent {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: row;
  flex-basis: 30%;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 900px) {
  .summarybody {
    // display: block;
    overflow: visible;
  }
  .summarybox {
    // overflow: auto;
    padding: 5px;
    padding-top: 50px;
  }
  .summarybody {
    // overflow: visible;
    margin-left: 5px;
    margin-right: 5px;
  }
  .summarybox .summaryheader {
    display: block;
  }
  .summarybox .collabs {
    // display: inline-block;
    // clear: both;
    // max-width: 40% !important;

    // display: flex;
    // flex: 1 1 auto;
    // overflow: auto;
  }
  .summarybox .collabContainer {
    // display: flex;
    // margin-left: 0;
    // border: none;
    // padding-left: 0;
    // max-width: 40% !important;
  }
  .summarybox .collab {
    // margin-bottom: 10px;
    // display: block;
  }
}

@media (max-width: 900px) {
  .featureFlex {
    display: block !important;
  }
  .myrow {
    // flex-wrap: nowrap;
    width: 100%;
    flex: 1 1 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .featureContainer {
    display: block !important;
    width: 100%;
  }
  .featureImage {
    width: 90% !important;
    height: 100% !important;
    max-width: 100%;

    clear: both;
    // width: 40% !important;
    // height: auto !important;
    //   opacity: 0;
    margin: 0px;
    display: inline-block;
    object-fit: contain;
  }

  .mycontentblock {
    margin: auto;
  }
}
.sortRowBtn {
  margin-left: auto;
  display: flex;
  justify-content: right;
  // cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
.sortRowBtnContainer {
  padding: 10px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.sortRowBtnContainer .sortbtnIcon {
  color: white;
  border: solid 1px rgba(0, 0, 0, 0.195);
  border-radius: 5px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background: rgb(104, 104, 104);
}
.sortRowBtnContainer:hover {
  border: 1px solid black;
  border-radius: 6px;
}
.sortRowBtn.sortRowBtnContainer:hover .sortbtnIcon {
  background: rgb(31, 31, 31);
  border: solid 1px black;
  border-radius: 5px;
  color: white;
}
.sortbtn {
  cursor: pointer;
  // position:absolute;
  top: 0px;
  right: 0px;
  color: white;
  border: solid 1px rgba(0, 0, 0, 0.195);
  border-radius: 5px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background: rgb(104, 104, 104);
}
.sortbtnAbs {
  position: absolute;
  top: 0px;
  right: 0px;
}
.sortbtn:hover {
  color: white;
  background: rgb(31, 31, 31);
  border: solid 1px black;
  border-radius: 5px;
}
