<div class="editorWindow" >
  <!-- <div class="mybackdrop"></div> -->

  <div class="editorContainer" [@flyInOut]="windowIsOpen ? 'in' : '*'">
    <div class="editorBody">
      <div class="editorBackdrop"></div>
      <div class="head">
        <p style="text-align: center; margin: auto; font-weight: bold">
          {{ optionSelected ? "Add " + selectedOption : "Add Content" }}
        </p>
        <div class="mybtn" (click)="createWindowService.closeCreator()">
          <div class="btncontainer">
            <span class="material-symbols-outlined"> close </span>
          </div>
        </div>
      </div>

      <div class="editorContent">
        <app-content-option-box
          (optionSelected)="handleOption($event)"
          *ngIf="optionSelected == false"
          style="width: 100%; height: 100%; margin: 0; padding: 0"
        ></app-content-option-box>

        <div *ngIf="optionSelected" class="contentWindow">
          <app-image-creator-window [imageURLEmitter]="valueEmitter" *ngIf="selectedOption == contentTypes.IMAGE"></app-image-creator-window>
          <app-text-creator-window [valueEmitter]="valueEmitter" *ngIf="selectedOption == contentTypes.TEXT"></app-text-creator-window>
          <!-- <div *ngIf="selectedOption == contentTypes.TEXT">
            <textarea class="input" type="text"></textarea>
            <button class="input" type="submit">Add</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
