<img href="https://docs.google.com/d2ff0c7d-6793-4d88-8cf3-b8a4f30acdef" />
<div class="homepage">
  <span class="pageheader">
    <h1>Drennen Dooms</h1>
    <span class="lead">{{ data?.subtext }}</span>
  </span>

  <div class="justify-content-between d-flex">
    <div>
      <p>
        {{ data?.biography }}
      </p>
      <hr id="heavydivider" />
    </div>
    <img id="profileimg" src="assets/me_squared.png" />
  </div>

  <div class="worksBtn" (click)="navigate('work')">
    <h2>
      See my works<span class="material-symbols-outlined">
        keyboard_double_arrow_down
      </span>
    </h2>
  </div>

  <!-- <div *ngFor="let item of dataSnapshots.itemCollection$|async">{{item['id']}}</div> -->

  <!-- <div style="width:80%;margin-top:50px;" class="justify-content-between">
		<span class="morebtn" style="float:right;text-decoration: underline;"><i>More</i></span>
		<h3>Featured</h3>
	</div>
	<div class="featuredContainer">
		<div class="box" *ngFor="let n of firestore.items">
			<h5>{{ n.name }}</h5>
			<img [src]="'assets/' + n.img">
			<span>{{ n.description }}</span>
		</div>
	</div>
	<hr />
	<div style="width:50%;" class="justify-content-between">
		<span class="morebtn" style="float:right;text-decoration: underline;"><i>More</i></span>
		<h4>Recent</h4>
	</div>
	<div class="recentContainer">
		<div class="box-sm" *ngFor="let n of numbers2">
			<h5>How I learned Godot in 3 months</h5>
			<img src="assets/prtcl.png" width="50px" height="50px">
		</div>
	</div> -->
</div>
