
<div [class]="content!['type'] == contentTypes.SPACER ? '_containerSpacer' :'_container'">
    <img
      *ngIf="
        !badContent &&
        (content!['type']) == contentTypes.IMAGE &&
        (content!['value']) != undefined
      "
      class="contentImg"
      style="width: 100%; height: 100%"
      [src]="content!['value']"
      (error)="contentError($event)"
    />

    <img
      *ngIf="
        !badContent &&
        (content!['type']) == contentTypes.HYPERLINK &&
        (content!['value']) != undefined
      "
      class="contentImg"
      style="width: 100%; height: 100%"
      [src]="content!['value']"
      (error)="contentError($event)"
    />


    <div
    *ngIf="
      !badContent &&
      content!['type'] == contentTypes.TEXT &&
      content!['value'] != undefined
    "
    class="contentText"
  >
    <!-- TODO: content types should have styling attached, so you can use headers etc. -->
    <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(content!['value']!)">
      {{ content!['value'] }}
    </p>
  </div>
  <div
    *ngIf="
      !badContent &&
      content!['type'] == contentTypes.VIDEO &&
      content!['value'] != undefined
    "
    class="contentVideo"
  >
  <iframe width="560" height="315" [src]="safeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <!-- <p><i>videos not implemented.</i></p> -->
    <!-- <iframe
      class="ratio ratio-16by9"
      id="ytplayer"
      type="text/html"
      width="100%"
      height="100%"
      allowfullscreen
      [src]="safeURL"
      frameborder="0"
    ></iframe> -->
  </div>

    <div
      *ngIf="
        !badContent &&
        content!['type'] == contentTypes.TEXT &&
        content!['value'] != undefined
      "
      class="contentText"
    >
      <!-- TODO: content types should have styling attached, so you can use headers etc. -->
      <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(content!['value'])">
        {{ content!['value'] }}
      </p>
    </div>
    <div
      *ngIf="
        !badContent &&
        content!['type'] == contentTypes.VIDEO &&
        content!['value'] != undefined
      "
      class="contentVideo"
    >
      <!-- <p><i>videos not implemented.</i></p> -->
      <iframe
        id="ytplayer"
        type="text/html"
        width="100%"
        height="100%"
        allowfullscreen
        [src]="safeURL"
        frameborder="0"
      ></iframe>
    </div>
  
    <div
      *ngIf="
        !badContent &&
        content!['type'] == contentTypes.CODEBLOCK &&
        content!['value'] != undefined
      "
      class="contentCodeblock"
    >
      <div class="codebox">
        <span
          class="material-symbols-outlined copyBtn"
          (click)="copy(tooltip)"
          #tooltip="matTooltip"
          [matTooltipHideDelay]="1000"
          [matTooltip]="copyTextTooltip"
        >
          content_copy
        </span>
        <pre
          [highlight]="
            '&nbsp;&nbsp;&nbsp;&nbsp;' +
            content!['value'].replaceAll('<br>', '\n&nbsp;&nbsp;&nbsp;&nbsp;')
          "
          [lineNumbers]="true"
          [languages]="['csharp']"
        ></pre>
      </div>
    </div>

    
  <div *ngIf="content!['type'] == contentTypes.DOWNLOAD" class="contentDownload">
    <div class="input-group mb-3" (click)="openURL(content!['value'])">
      <!-- <p class="contentDownloadMetadata" *ngIf="content!['metadata']">
        {{ content!['metadata'] }}
      </p> -->

      <div class="downloadEvents" style="user-select: none; cursor: pointer">
        <span class="input-group-text" id="basic-addon1">{{ content!['metadata'] }}</span>
        <span class="input-group-text material-symbols-outlined">download</span>
      </div>
    </div>
  </div>
  
    <div
      *ngIf="content!['type'] == contentTypes.SPACER"
      class="contentSpacer"
    ></div>
  
    <div *ngIf="badContent" class="badContent">
      <h5>Content Unavailable</h5>
      <span class="material-symbols-outlined"> error </span>
    </div>
  
    
    <!-- <span *ngIf="userAuth.isAdmin && global.isEditing && allowAdminControls" class="material-symbols-outlined sortbtn"> sort </span> -->
  </div>
  