$border: 5px;
$borderRadius: 10px;
$workboxWidth: 10em;

$primaryColor: rgb(253, 8, 74);

app-summarybox {
  position:fixed;
  z-index: 1;
}


.work {
  z-index: -1;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-left {
  margin-right: 10px;
  padding: 0;
  width: $workboxWidth;
}

.my-container-right {
  // z-index: -1;
  position: relative;
  display: flex;
  column-count: 2 !important;
  /* Chrome, Safari, Opera */
  -webkit-column-count: 2 !important;
  /* Firefox */
  -moz-column-count: 2 !important;
  column-gap: 0;
  margin: 0;
}
.full-container {
  width: 100%;
  z-index: 0;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 710px) {
}

.workcontainer {
  display: flex;
  // flex-shrink: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}


.featureImage {
	width:30%;
}

.workbox-border {
  width: $workboxWidth;
  height: $workboxWidth;
  margin: auto;
  position: absolute;
  // background: transparent;
  // background-clip: padding-box;
  border: solid rgba(253, 8, 74, 1) $border;
  border-radius: $borderRadius;
  background-color: rgb(47, 47, 47, 0.8) !important;
  backdrop-filter: blur(3px);
  z-index: 0;
}

.workbox {
  background-color: transparent;
  width: $workboxWidth;
  height: $workboxWidth;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-radius: $borderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden;
  z-index: 0;
  float: left;
  margin-right: 10px;
}
@media (max-width: 710px) {
  .workbox {
    width: 20em;
    float: none;
    clear: both;
    // margin:0;
    margin-left: auto;
    margin-right: auto;
  }
}

.workbox:hover {
  cursor: pointer;
  border: solid 5px $primaryColor;
}

.workbox:hover .header {
  background-color: rgba(0, 0, 0, 0);
}

.workbox h3 {
  text-align: center;
  margin-top: -10px;
  font-size: x-large;
  z-index: 0;
  // position: absolute;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  width: 100%;
  transition: background-color 0.3s ease;
}

.workbox img {
  z-index: -1;
  height: 150%;
  // position:fixed;
}
