$border: 5px;
$borderRadius:10px;
$workboxWidth:400px;

.work {
	z-index: -1;
}

.container-left {
	margin-right: 10px;
	padding: 0;
	width: $workboxWidth;
}

.my-container-right {
	// z-index: -1;
	position: relative;
	display: flex;
	column-count: 2 !important;
	/* Chrome, Safari, Opera */
	-webkit-column-count: 2 !important;
	/* Firefox */
	-moz-column-count: 2 !important;
	column-gap: 0;
	margin: 0;
}

.workcontainer {
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
	position: relative;
	// z-index: -1;
	margin-left: auto;
	margin-right: auto;
	
}

.closebtn span {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 36px;
	font-weight: 300;
}

.closebtn :hover {
	cursor: pointer;
}

.summarybox {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	border: rgba(255, 255, 255, 0.5) solid 1px;
	border-radius: 15px;
	width: 100%;
	top: 0;
	bottom: 10px;
	z-index: 1 !important;
	padding: 50px;
	border: black solid 2px;
	border-top-left-radius: 0;
	backdrop-filter: blur(3px);
	overflow: hidden;
	opacity: 0;
}


.backdrop {
	background: rgba(160, 254, 251, 0.5);
	background: linear-gradient(142deg, rgba(160, 254, 251, 0.3) 0%, rgba(73, 79, 193, 0.15) 36%, rgba(253, 8, 74, 0.15) 100%);
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 0;
	filter: blur(3px);
	z-index: -1;
}


.workbox-border {

	width: $workboxWidth;
	height: $workboxWidth;
	margin: auto;
	position: absolute;
	// background: transparent;
	// background-clip: padding-box;
	border: solid rgba(253, 8, 74, 1) $border;
	border-radius: $borderRadius;
	background-color: rgb(47, 47, 47, .8) !important;
	backdrop-filter:blur(3px);
	z-index: 0;
}

.workbox {
	background-color: transparent;
	width: $workboxWidth !important;
	height: $workboxWidth;
	text-align: center;
	box-sizing: border-box;
	border: solid 1px transparent;
	border-radius: $borderRadius;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-bottom: 10px;
	overflow: hidden;
	z-index: 0;
}

.workbox:hover {
	cursor: pointer;
}

.workbox:hover .header {
	background-color: rgba(0, 0, 0, 0);
}

.workbox h3 {
	text-align: center;
	margin-top: -10px;
	font-size: xx-large;
	z-index: 1;
	position: absolute;
	font-weight: bold;
	background-color: rgba(0, 0, 0, .2);
	color: white;
	width: $workboxWidth;
	transition: background-color 0.3s ease;
}



.workbox img {
	// z-index: -1;
	height:150%;
}