<!-- <app-edit-button></app-edit-button>
<app-delete-button></app-delete-button> -->
<div
  [class]="
    (isContentPreviewEnabled() ? 'previewAvailable' : '') + contentType ==
    contentTypes.SPACER
      ? '_containerSpacer'
      : '_container'
  "
>
  <div class="previewIconBackdrop" *ngIf="isContentPreviewEnabled()"></div>
  <div
    class="previewAvailableIcon"
    *ngIf="isContentPreviewEnabled()"
    (click)="showPreview()"
  >
    <span class="material-symbols-outlined"> preview </span>
  </div>
  <!-- <img
    //*ngIf="
      /!badContent && !contentBlock?.metadata && 
      contentType == contentTypes.IMAGE &&
      contentValue != undefined
    "
    class="contentImg"
    style="width: 100%; height: 100%"
    [src]="contentURL"
    (error)="contentError($event)"
  /> -->
  <figure class="figure" *ngIf="!badContent && 
  contentType == contentTypes.IMAGE &&
  contentValue != undefined">
    <img [src]="contentURL" (error)="contentError($event)" class="figure-img img-fluid rounded" alt="...">
    <figcaption *ngIf="contentBlock?.metadata" class="figure-caption">{{contentBlock?.metadata}}</figcaption>
  </figure>
  <div
    *ngIf="
      !badContent &&
      contentType == contentTypes.TEXT &&
      contentValue != undefined
    "
    class="contentText"
  >
    <!-- TODO: content types should have styling attached, so you can use headers etc. -->
    <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(contentValue!)">
      {{ contentValue }}
    </p>
  </div>
  <div
    *ngIf="
      !badContent &&
      contentType == contentTypes.VIDEO &&
      contentValue != undefined
    "
    class="contentVideo"
  >
    <!-- <p><i>videos not implemented.</i></p> -->
    <iframe
      class="ratio"
      id="ytplayer"
      type="text/html"
      width="100%"
      height="100%"
      allowfullscreen
      [src]="safeURL"
      frameborder="0"
    ></iframe>
  </div>

  <div
    *ngIf="
      !badContent &&
      contentType == contentTypes.CODEBLOCK &&
      contentValue != undefined
    "
    class="contentCodeblock"
  >
    <div class="codebox">
      <span
        class="material-symbols-outlined copyBtn"
        (click)="copy(tooltip)"
        #tooltip="matTooltip"
        [matTooltipHideDelay]="1000"
        [matTooltip]="copyTextTooltip"
      >
        content_copy
      </span>
      <pre
        [highlight]="
          '&nbsp;&nbsp;&nbsp;&nbsp;' +
          contentValue.replaceAll('<br>', '\n&nbsp;&nbsp;&nbsp;&nbsp;')
        "
        [lineNumbers]="true"
        [languages]="['csharp']"
      ></pre>
    </div>
  </div>

  <div *ngIf="contentType == contentTypes.SPACER" class="contentSpacer"></div>

  <div *ngIf="contentType == contentTypes.DOWNLOAD" class="contentDownload">
    <div class="input-group mb-3" (click)="openURL(contentValue)">
      <p class="contentDownloadMetadata" *ngIf="contentBlock?.metadata">
        {{ contentBlock?.metadata }}
      </p>

      <div class="downloadEvents" style="user-select: none; cursor: pointer">
        <span class="input-group-text" id="basic-addon1">Download</span>
        <span class="input-group-text material-symbols-outlined">download</span>
      </div>
    </div>
  </div>

  <div *ngIf="badContent" class="badContent">
    <h5>Content Unavailable</h5>
    <span class="material-symbols-outlined"> error </span>
  </div>

  <div
    class="contentAdminCover"
    *ngIf="userAuth.isAdmin && global.isEditing && allowAdminControls"
    (click)="beginEdit()"
  >
    <h5>
      Click to edit <span class="material-symbols-outlined mybtn"> edit </span>
    </h5>
  </div>
  <!-- <span *ngIf="userAuth.isAdmin && global.isEditing && allowAdminControls" class="material-symbols-outlined sortbtn"> sort </span> -->
</div>
