<!-- <app-edit-button></app-edit-button>
<app-delete-button></app-delete-button> -->
<div class="_container">
  <img
    *ngIf="contentType == contentTypes.IMAGE && contentValue != undefined"
    class="contentImg"
    style="width: 100%; height: 100%"
    [src]="contentURL"
  />
  <div
    *ngIf="contentType == contentTypes.TEXT && contentValue != undefined"
    class="contentText"
  >
    <!-- TODO: content types should have styling attached, so you can use headers etc. -->
    <p>{{ contentValue }}</p>
  </div>
  <div
    *ngIf="contentType == contentTypes.VIDEO && contentValue != undefined"
    class="contentVideo"
  >
    <!-- <p><i>videos not implemented.</i></p> -->
    <iframe
      id="ytplayer"
      type="text/html"
      width="100%"
      height="100%"
      allowfullscreen
      [src]="safeURL"
      frameborder="0"
    ></iframe>
  </div>

  <div
    *ngIf="contentType == contentTypes.CODEBLOCK && contentValue != undefined"
    class="contentCodeblock"
  >
    <div class="codebox">
      <span
        class="material-symbols-outlined copyBtn"
        (click)="copy(tooltip)"
        #tooltip="matTooltip"
        [matTooltipHideDelay]="1000"
        [matTooltip]="copyTextTooltip"
      >
        content_copy
      </span>
      <pre 
        [highlight]="
          '&nbsp;&nbsp;&nbsp;&nbsp;' +
          contentValue.replaceAll('<br>', '\n&nbsp;&nbsp;&nbsp;&nbsp;')
        "
        [lineNumbers]="true"
        [languages]="['csharp']"
      ></pre>
    </div>
  </div>

  <div *ngIf="contentType == contentTypes.SPACER" class="contentSpacer"></div>


  <div
    class="contentAdminCover"
    *ngIf="userAuth.isAdmin && global.isEditing && allowAdminControls"
    (click)="beginEdit()"
  >
    <h5>
      Click to edit <span class="material-symbols-outlined mybtn"> edit </span>
    </h5>
  </div>
</div>
