/* You can add global styles to this file, and also import other style files */

// #f4f2f0
// #d7d2ce
// #d3c0b2
// #a99282

body {
	background-color: #f4f2f0;
}
.app-body{
	width: 50% !important;
	margin-left: auto;
	margin-right: auto;
}