<div class="mygrid">
  <!-- <div class="col1"> -->
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.IMAGE)">
    <span class="material-symbols-outlined"> image </span>
    <span class="ctntLabel">Image</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.VIDEO)">
    <span class="material-symbols-outlined"> movie </span>
    <span class="ctntLabel">Video</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.TEXT)">
    <span class="material-symbols-outlined"> edit_note </span>
    <span class="ctntLabel">Text</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.MODEL)">
    <span class="material-symbols-outlined"> deployed_code </span>
    <span class="ctntLabel">Model</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.CODEBLOCK)">
    <span class="material-symbols-outlined"> code </span>
    <span class="ctntLabel">Code</span>
  </div>
  <!-- </div> -->
  <!-- <div class="col2"> -->
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.GALLERY)">
    <span class="material-symbols-outlined"> gallery_thumbnail </span>
    <span class="ctntLabel">Gallery</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.CAROUSEL)">
    <span class="material-symbols-outlined"> view_carousel </span>
    <span class="ctntLabel">Carousel</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.EMBED)">
    <span class="material-symbols-outlined"> web </span>
    <span class="ctntLabel">Embed</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.HYPERLINK)">
    <span class="material-symbols-outlined"> link </span>
    <span class="ctntLabel">Hyperlink</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.AUDIO)">
    <span class="material-symbols-outlined"> volume_up </span>
    <span class="ctntLabel">Audio</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.SPACER)">
    <span class="material-symbols-outlined"> space_bar </span>
    <span class="ctntLabel">Spacer</span>
  </div>
  <div class="ctntBtn" (click)="onOptionSelected(contentTypes.BUTTON)">
    <span class="material-symbols-outlined"> buttons_alt </span>
    <span class="ctntLabel">Button</span>
  </div>

  <!-- </div> -->
</div>
